.filter{
    width: 100vw;
    height: 150px;
    display: inline-flex;
    /*justify-content: space-around;*/
    align-items: center;
    flex-wrap: wrap;
    transform: translateX(22px);
}
.filter_button{
    text-align: center;
    height: 2.9rem;
    min-width: 6.3rem;
    display: inline-block;
    padding: 0.5rem, 1rem;
    margin: 2rem, 0;
    border: 2px solid black;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
    letter-spacing: 2px;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in;
}
.filter > .filter_button{
    margin: 30px;
}
.filter .active{
    background: linear-gradient(35deg, #494949, #313131);;
    color: rgb(255, 255, 255);
}